 * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-color: rgb(148, 148, 233);
 }
 header{
    display: flex;
    height: 100px;
    width: 100vw;
    background-color: rgb(63, 61, 118);
    align-items: center;
 }
h1{
    width: 50px;
    background-color: azure;
align-content: center;
justify-content: horizontal;
}
p{
    width:12rem ;
    height: 35px;
    background-color: rgb(48, 116, 189);
    align-content: left;
    justify-content:horizontal ;
}